[submodule "exts/dbcsr"]
	path = exts/dbcsr
    url = https://github.com/dithillobothrium/dbcsr-1.git
    branch = tight_binding
[submodule "tools/prettify/fprettify"]
	path = tools/prettify/fprettify
	url = https://github.com/pseewald/fprettify.git
	branch = master
