# base directory structure
exe/
lib/
obj/
bin/
regtesting/
install/

# ignore local arch files not meant to be shared
arch/local*

# ensure people are not accidentally committing an old .svnignore when copying their stuff
.svnignore

