CC          = ${CC_arch}
CXX         = ${CXX_arch}
CPP         =
AR          = ar -r
FC          = ${FC_arch}
LD          = ${LD_arch}
#
DFLAGS      = ${DFLAGS}
#
WFLAGS      = ${WFLAGS}
#
FCDEBFLAGS  = ${FCDEBFLAGS}
CFLAGS      = ${CFLAGS}
FCFLAGS     = ${FCFLAGS}
#
LDFLAGS     = ${LDFLAGS}
LIBS        = ${LIBS}
