appdirs==1.4.4
attrs==20.1.0
black==19.10b0
click==7.1.2
cmake-format==0.6.13
cmakelang==0.6.13
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pathspec==0.8.0
regex==2020.7.14
six==1.16.0
toml==0.10.1
typed-ast==1.4.1
Werkzeug==1.0.1
